*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# igonre images
*.jpeg
*.jpg
*.png
*.tif
*.gif

# ignore labels file
*.csv

# ignore the dataset images folder
train/
test/
our_train/

# Pycharm project files
.idea

# ignore compressesd files
*.gz
*.zip
*.tar.*

# ignoring jupyter checkpoints
.ipynb_checkpoints/
